.divTable {
    margin-top: 30px;
    width: 1200px;
}
.img {
    horiz-align: center;
    vertical-align: center;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.img:hover{
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.imgADD {
    width: 50px;
    height: 50px;
}