.margin {
    margin-top: 20px;
    margin-right: 10px;
}
.buttonSize {
    width: 248px;
    height: 50px;
}
.cardSize {
    position: relative;
    top: 100px;
    width: 500px;
    height: 500px;
}