.imgC,.imgP{
    width: 30px;
    height: 30px;
}
.imgG {
    width: 43px;
    height: 43px;
}
.imgG:hover+span {
    opacity: 1;
}

.imgP:hover,.imgG:hover {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.imgP:hover+span {
    opacity: 1;
}
.span {
    position: absolute;
    left: 0;
    width: 300px;
    font-size: 20px;
    transition: .3s ease-in-out;
    opacity: 0;
}
.spanA {
    bottom: 25px;
    top: 3px;
    text-align: left ;
    color: #2E79BC;
}
.spanB {
    /*bottom: 15px;*/
    top: 5px;
    text-align: left;
    color: #2CCB6F;
}
.spanC {
    bottom: 45px;
    top: 15px;
    text-align: left;
    color: #AC1818;
}
.spanD {
    bottom: 20px;
    text-align: left;
    color: orange;
}
.sizeContainer {
    padding: 15px;
}

.imgPointer {
    cursor: pointer;
}